<div class="w-1/3 max-w-screen-lg min-w-[300] bg-slate-700 text-center text-white font-bold">
  <div>
    <div class="flex flex-row bg-black border-4 rounded-xl border-black m-1 px-1 gap-1 justify-center">
      <span class="w-1/4">Round score</span>
      <!-- TODO: center the vertical alignment -->
      <div class="w-3/4 content-center items-center self-center bg-slate-400 border-4 rounded-xl border-slate-400">
        <h6 class="score text-3xl self-center">0</h6>
        <!-- <h6 class="score hidden">0</h6> -->
        <!-- <h6 class="initialscore text-3xl self-center">0</h6> -->
      </div>
    </div>
    <div class="text-2xl bg-slate-900 border-4 rounded-xl border-slate-900 m-1">
      <div>
        <h6 class="poker">Poker Hand</h6>
      </div>
      <div class="flex justify-center">
        <div class="bg-blue-500 border-4 rounded-xl border-blue-500 w-1/3 justify-self-center m-auto">
          0
        </div>
        <span class="m-auto">X</span>
        <div class="bg-red-600 border-4 rounded-xl border-red-600 w-1/3 justify-self-center m-auto">
          0
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="flex flex-col w-1/3 m-auto gap-1 p-2">
        <button class="h-1/2 bg-red-600 border-4 rounded-xl border-red-600">Run<br>Info</button>
        <button class="h-1/2 bg-orange-600 border-4 rounded-xl border-orange-600">Options</button>
      </div>
      <div class="w-2/3 flex flex-wrap">
        <div class="w-1/2 bg-black border-4 rounded-xl border-black">
          <span>Hands</span>
          <div class="bg-slate-400 border-4 rounded-xl border-slate-400 text-xl">
            <h6 class="hands">3</h6>
          </div>
        </div>
        <div class="w-1/2 bg-black border-4 rounded-xl border-black">
          <span>Discards</span>
          <div class="bg-slate-400 border-4 rounded-xl border-slate-400 text-xl">
            <h6 class="discards">1</h6>
          </div>
        </div>
        <div class="w-full bg-black border-4 rounded-xl border-black">
          <div class="bg-slate-400 border-4 rounded-xl border-slate-400 text-xl">
            <h6 class="money">$4</h6>
          </div>
        </div>
        <div class="w-1/2 bg-black border-4 rounded-xl border-black">
          <span>Ante</span>
          <div class="bg-slate-400 border-4 rounded-xl border-slate-400 text-xl">
            <h6 class="ante">1/8</h6>
          </div>
        </div>
        <div class="w-1/2 bg-black border-4 rounded-xl border-black">
          <span>Round</span>
          <div class="bg-slate-400 border-4 rounded-xl border-slate-400 text-xl">
            <h6 class="round">1</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import { $round, $ante, $roundScore, $handsRemaining, $discardsRemaining, $money } from '../utils/gameStores.js'
  // let elScore = document.querySelector('h6.score')
  // let elAnte = document.querySelector('h6.ante')
  // let elRound = document.querySelector('h6.round')
  // let elHands = document.querySelector('h6.hands')
  // let elDiscards = document.querySelector('h6.discards')
  // let elMoney = document.querySelector('h6.money')

  const scoreListener = $roundScore.subscribe((value, oldValue) => {
    document.querySelector('h6.score').innerText = `${$roundScore.get()}`
    // console.log(`roundScore value changed from ${oldValue} to ${value}`)
  })

  const anteListener = $ante.subscribe((value, oldValue) => {
    document.querySelector('h6.ante').innerText = `${$ante.get()}`
    // console.log(`ante value changed from ${oldValue} to ${value}`)
  })

  const roundListener = $round.subscribe((value, oldValue) => {
    document.querySelector('h6.round').innerText = `${$round.get()}`
    document.querySelector('h6.score').innerText = `${$roundScore.set(0)}`
    // console.log(`round value changed from ${oldValue} to ${value}`)
  })

  const handsListener = $handsRemaining.subscribe((value, oldValue) => {
    document.querySelector('h6.hands').innerText = `${$handsRemaining.get()}`
    // console.log(`handsRemaining value changed from ${oldValue} to ${value}`)
  })

  const discardsListener = $discardsRemaining.subscribe((value, oldValue) => {
    document.querySelector('h6.discards').innerText = `${$discardsRemaining.get()}`
    // console.log(`discardsRemaining value changed from ${oldValue} to ${value}`)
  })

  const moneyListener = $money.subscribe((value, oldValue) => {
    document.querySelector('h6.money').innerText = `${$money.get()}`
    // console.log(`discardsRemaining value changed from ${oldValue} to ${value}`)
  })
</script>
